name: Build
on:
  pull_request:
  push:
  schedule:
  - cron: "0 * * * *"
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v3
      with:
        submodules: recursive
    - name: Login to GitHub Container Registry
      uses: docker/login-action@v1
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ github.token }}
    - name: Update
      id: update
      run: ./meta/update.rb
      if: github.event_name == 'schedule'
      env:
        GITHUB_TOKEN: ${{ github.token }}
    - name: Build container
      run: docker build -t new .
      if: github.event_name != 'schedule' || steps.update.outputs.updated == 'yes'
    - name: Test container
      run: ./scripts/test.sh
      if: github.event_name != 'schedule' || steps.update.outputs.updated == 'yes'
    - name: Publish images
      run: ./meta/publish.sh
      if: github.event_name == 'push' || steps.update.outputs.updated == 'yes'
    - name: Post to a Slack channel
      if: ${{ always() }}
      uses: slackapi/slack-github-action@v1.18.0
      with:
        channel-id: ${{ secrets.SLACK_BOT_CHANNEL }}
        slack-message: "GitHub build result: ${{ job.status }}\n${{ github.event.pull_request.html_url || github.event.head_commit.url }}"
      env:
        SLACK_BOT_TOKEN: ${{ secrets.SLACK_BOT_TOKEN }}
