name: Build
on:
  pull_request:
  push:
  schedule:
  - cron: "0 * * * *"
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: akerl/action-checkout@v2.0.0
    - name: Submodules
      run: git submodule update --init --recursive
    - name: Registry auth
      run: ./meta/login.sh
      env:
        GITHUB_TOKEN: ${{ github.token }}

    - name: Update
      id: update
      run: ./meta/update.rb
      if: github.event_name == 'schedule'
      env:
        GITHUB_TOKEN: ${{ github.token }}

    - name: Build container
      run: docker build -t new .
      if: github.event_name != 'schedule' || steps.update.outputs.updated == 'yes'
    - name: Test container
      run: ./scripts/test.sh
      if: github.event_name != 'schedule' || steps.update.outputs.updated == 'yes'
    - name: Publish images
      run: ./meta/publish.sh
      if: github.event_name != 'schedule' || steps.update.outputs.updated == 'yes'
      env:
        GITHUB_TOKEN: ${{ github.token }}

    - name: Notify on success
      if: success()
      env:
        SLACK_BOT_TOKEN: ${{ secrets.SLACK_BOT_TOKEN }}
      uses: akerl/github-action-slack-notify-build@v1.1.1
      with:
        channel_id: ${{ secrets.SLACK_BOT_CHANNEL }}
        status: success
        color: good
    - name: Notify on failure
      if: failure()
      env:
        SLACK_BOT_TOKEN: ${{ secrets.SLACK_BOT_TOKEN }}
      uses: akerl/github-action-slack-notify-build@v1.1.1
      with:
        channel_id: ${{ secrets.SLACK_BOT_CHANNEL }}
        status: failed
        color: danger
